@model TravelAgency.Models.Kurort

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kurort</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.about)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.about)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_kurort }) |
    @Html.ActionLink("Back to List", "Index")
</p>
